---
---

<section id="contact" class="s-contact target-section">
  <div class="row contact-top">
    <div class="column lg-12">
      <h2 class="text-pretitle" data-i18n="contact.pretitle">Roll through.</h2>
      <p class="h1" data-i18n="contact.title">Need your site fixed, refreshed, or built right? Drop a line and let's move.</p>
    </div>
  </div>

  <div class="row contact-bottom">
    <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
      <h3 class="text-pretitle" data-i18n="contact.contact">Contact</h3>
      <p class="contact-links">
        <a href="mailto:lazzzarito@gmail.com" class="mailtoui">lazzzarito@gmail.com</a><br />
        <a href="https://wa.me/+5354703466">+53 5470 3466</a>
      </p>
    </div>
    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
      <h3 class="text-pretitle" data-i18n="contact.social">Social</h3>
      <ul class="contact-social">
        <li><a href="https://github.com/lazzzarito">GitHub</a></li>
        <li><a href="https://x.com/1azarito">Twitter</a></li>
      </ul>
    </div>
    <div class="column lg-4 md-12 contact-block">
      <a href="https://wa.me/+5354703466" class="mailtoui btn btn--medium u-fullwidth contact-btn" data-i18n="contact.whatsapp">Slide into my WhatsApp</a>
    </div>
  </div>
</section>
