---

---

<header class="s-header">
  <div class="header-mobile">
    <span class="mobile-home-link"><a href="/">1azarito.</a></span>
    <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
  </div>

  <div class="row wide main-nav-wrap">
    <nav class="column lg-12 main-nav">
      <ul>
        <li><a href="/" class="home-link">1azarito</a></li>
        <li class="current"><a href="#intro" class="smoothscroll" data-i18n="nav.intro">Intro</a></li>
        <li><a href="#about" class="smoothscroll" data-i18n="nav.about">About</a></li>
        <li><a href="#works" class="smoothscroll" data-i18n="nav.works">Work</a></li>
        <li><a href="#contact" class="smoothscroll" data-i18n="nav.contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
