---
import { translations } from "../i18n/translations";
const lang = "en";

const tr = translations[lang];
const currentYear = new Date().getFullYear();
const i18nJson = JSON.stringify(translations);
---

<!DOCTYPE html>
<html class="no-js ss-preload" lang={lang}>
  <head>
    <meta charset="utf-8" />
    <title>1azarito Dev - Portfolio</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/vendor.css" is:inline />
    <link rel="stylesheet" href="/css/styles.css" is:inline />

    <link rel="icon" type="image/ico" sizes="256x256" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body id="top">
    <div id="preloader">
      <div id="loader"></div>
    </div>

    <script id="i18n-data" type="application/json" set:html={i18nJson}></script>

    <slot />

    <script src="/js/plugins.js" is:inline></script>
    <script src="/js/main.js" is:inline></script>
    <script src="/js/i18n.js" is:inline></script>
  </body>
</html>
